.Card--img{
    border-radius: 3em;
    border: "3px";
    border-style: solid;
    border-color: white;
    filter:grayscale(100%);
}
.Card--img:hover{
    
}
.Card--main{
    padding: 1em;
    margin: 2em;
    background-image: url("../Images/skin.jpg");
    background-size: cover;
    border-radius: 3em;
}
.Card--text{
    font-size: 1.8vw;
    color: rgb(255, 255, 255);
}
.Card--love{
    color:#000000;
    font-size:1.3em;
}
.Card--links{
   padding: 0.5em;
}
.Card--github, .Card--netlify{
    display: inline-block;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    font-size: 1.5vw;
    color:#ffffff;
    background-color: rgb(255, 140, 94);
    border-radius: 3em;
    transition: transform .2s;
}
.Card--github:hover, .Card--netlify:hover {
    transform: scale(1.05);
}
.Card--tools{
    list-style-type:none;
    color:black;
}
