.Home--main{
}
.Home--text{
    font-size: 3vw;
    padding: 0em 4em 5em 4em;
}
.Home--link{
    text-decoration: none;
}
.Home--link:visited {
    color:#aa9348;
}
.Home--link:hover{
    color: rgb(231, 222, 222);
}
.Home--img {
    position: absolute; 
    left: 18%; 
    top: 40%;
    width: 1200px;
    height: 800px;
    z-index:-1;
}
.Home--wink{
    position: absolute;
    z-index:1;
    left: 40%;
    top: 81%;
    width: 20px;
    height: 20px;
    animation: mymove 5s infinite
}
@keyframes mymove{
    0%{background-color: transparent;}
    15%{background-color: #eff2f5;}
    100%{background-color: transparent;}
}
    
/* #eff2f5 */