.Home--main{
    height: 100vh;
}
.Home--text{
    font-size: 3vw;
    padding: 0em 4em 0em 4em;
}
.Home--link{
    color:#aa9348;
    text-decoration: none;
}
.Home--link:visited {
    color:#aa9348;
}
.Home--link:hover{
    color: rgb(231, 222, 222);
}
.Home--drawing{
    position: relative;
    margin: auto;
    width: 1200px;
    height: 300px;
}
.Home--img {
    position: absolute;
    left: 5%; 
    top:-120%;
    width: 1200px;
    height: 800px;
    z-index:0;
}
.Home--wink{
    position: absolute;
    z-index:1;
    left: 38%;
    top: 12%;
    width: 22px;
    height: 22px;
}
.Home--drawing:hover .Home--wink{
    animation: mymove 5s infinite;
}
@keyframes mymove{
    0%{background-color: transparent;}
    15%{background-color: #eff2f5;}
    100%{background-color: transparent;}
}
    
