.Home--main{
}
.Home--text{
    font-size: 3vw;
    padding: 0em 4em 5em 4em;
}
.Home--link{
    text-decoration: none;
}
.Home--link:visited {
    color:#aa9348;
}
.Home--link:hover{
    color: rgb(255, 255, 255);
}
.Home--img {
    position: absolute; 
    left: 18%; 
    top: 40%;
    width: 1200px;
    height: 800px;
    z-index:-1;
}