
.card{
  position: relative;
  height:30vmin;
  left: 0;
}
.card-after {
    position: absolute;
    bottom: 0;
    height: 8vmin;
    border-top: 1px solid #ECECEC;
    z-index: 1000;
    width: 100%;
    background-color: #F3F3F3;
}
.blue-ocean {
	position: relative;
    background-color: #607aa000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.blue-whale {
    height: 7vmin;
    width: 55vmin;
    background-color: transparent;
    position: absolute;
    left: 0%;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 0% 30% 5% 0%;
    top: 30%;
    animation:whale-move 30s linear infinite;

}
.blue-whale-color {
    height: 2vmin;
    width: 17vmin;
    background-color: transparent;
    position: absolute;
    top: 4vmin;
    left: 1vmin;
    box-shadow: 2vmin -6vmin 6vmin #fff;
	z-index:1;	
}
.blue-whale-color-bottom {
    height: .5vmin;
    width: 17vmin;
    background-color: transparent;
    position: absolute;
    top: 2.5vmin;
    left: 1vmin;
    box-shadow: -1vmin 4vmin 4vmin #090E15;
    z-index: 1;
}
.blue-whale-main {
    height: 7vmin;
    width: 20vmin;
    background: url("https://as2.ftcdn.net/v2/jpg/01/92/13/05/1000_F_192130501_bp1NRfSNE2Owx2Ddg111yhM4xW337O0Z.jpg");
    position: absolute;
    left: 30%;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 0% 70% 10% 0%;
	transform-origin: 0% 50%;
	overflow:hidden;
	z-index:1;
    animation:whale-swim 2s linear infinite;
}
@keyframes whale-swim {
    0% {transform: translateX(-50%) rotate(0deg);}
    25% {transform: translateX(-50%) rotate(3deg);}
    50% {transform: translateX(-50%) rotate(0deg);}
    75% {transform: translateX(-50%) rotate(-3deg);}
    100% {transform: translateX(-50%) rotate(0deg);}
}
@-webkit-keyframes whale-swim {
    0% {border-radius: 20% 0% 0% 100%}
    50% {border-radius: 100% 0% 0% 20%}
    100% {border-radius: 20% 0% 0% 100%}
}
@keyframes tusk-swim {
    0% {transform: translateY(10%) rotate(0deg);}
    25% {transform: translateY(97%) rotate(3deg);}
    50% {transform: translateY(10%) rotate(0deg);}
    75% {transform: translateY(-97%) rotate(-3deg);}
    100% {transform: translateY(10%) rotate(0deg);}
}
@keyframes whale-move {
    0% {transform: translateX(-50%);}
    100% {transform: translateX(500%);}
}
@-webkit-keyframes whale-move {
    0% {transform: translateX(-50%);}
    100% {transform: translateX(500%);}
}
@keyframes whale-gill {
    0% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    10% {height: 3vmin; box-shadow: none;}
    70% {height: 3vmin; box-shadow: none;}
    80% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    100% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
}
@-webkit-keyframes whale-gill {
    0% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    10% {height: 3vmin; box-shadow: none;}
    70% {height: 3vmin; box-shadow: none;}
    80% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    100% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
}
@keyframes whale-gill1 {
    0% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    10% {height: 3vmin; box-shadow: none;}
    70% {height: 3vmin; box-shadow: none;}
    80% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    100% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    }
@-webkit-keyframes whale-gill1 {
    0% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    10% {height: 3vmin; box-shadow: none;}
    70% {height: 3vmin; box-shadow: none;}
    80% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
    100% {height: 2vmin; box-shadow: 2px 2px 2px #62728A;}
}
@keyframes whale-swim-back {
    0% {border-radius: 10% 0% 0% 100%}
    25% {border-radius: 10% 0% 0% 100%}
    50% {border-radius: 100% 0% 0% 10%}
    75% {border-radius: 100% 0% 0% 10%}
    100% {border-radius: 10% 0% 0% 100%}
    }
    
@-webkit-keyframes whale-swim-back {
    0% {border-radius: 20% 0% 0% 100%}
    50% {border-radius: 100% 0% 0% 20%}
    100% {border-radius: 20% 0% 0% 100%}
}
@keyframes flipper-simple {
    0% {transform: rotate(-73deg); }
    25% {transform: rotate(-13deg);}
    70% {transform: rotate(-13deg);}
    100% {transform: rotate(-73deg);}
}
@-webkit-keyframes flipper-simple {
    0% {transform: rotate(-73deg); }
    25% {transform: rotate(-13deg);}
    50% {transform: rotate(-13deg);}
    100% {transform: rotate(-73deg);}
}
@keyframes flipper-move {
    0% {top: -35%; transform: rotate(-73deg); }
    25% {top: -35%; transform: rotate(25deg); }
    50% {top: 58%; transform: rotate(25deg);}
    75% {top: 58%; transform: rotate(-73deg);}
    100% {top: -35%; transform: rotate(-73deg);}
}
@-webkit-keyframes flipper-move {
    0% {top: -35%; transform: rotate(-73deg); }
    25% {top: -35%; transform: rotate(25deg); }
    50% {top: 58%; transform: rotate(25deg);}
    75% {top: 58%; transform: rotate(-73deg);}
    100% {top: -35%; transform: rotate(-73deg);}
}
.blue-whale-backside {
    height: 7vmin;
    width: 12vmin;
    background: url("https://as2.ftcdn.net/v2/jpg/01/92/13/05/1000_F_192130501_bp1NRfSNE2Owx2Ddg111yhM4xW337O0Z.jpg");
    position: absolute;
    left: -9%;
    border-radius: 0% 0% 0% 100%;
    overflow: hidden;
    box-shadow: inset 0vmin -2vmin 3vmin #a0a0a0;
    animation:whale-swim-back 2s linear infinite;
}
.blue-whale-tusk {
    width: 18vmin;
    height: 1vmin;
    left: 48%;
    top: 64%;
    bottom: 2%;
    border-radius: 0% 100% 100% 0%;
    position: absolute;
    background-image: url("https://media.istockphoto.com/vectors/background-of-line-pattern-with-diagonal-stripes-vector-geometric-vector-id1032155152?s=612x612");
	overflow:hidden;
    transform: translateX(0%) translateY(0%) rotate(0deg);
	transform-origin: 0% 10%;
    animation:tusk-swim 2s linear infinite;
}
.blue-whale-eye {
    height: 0.4vmin;
    width: 0.8vmin;
    background-color: #000000;
    position: absolute;
    right: 20%;
    top: 50%;
    border-radius: 50%;
}
.gill-container {
    background-color: transparent;
    height: 3vmin;
    width: 4vmin;
    -moz-border-radius: 150px 0 0 0;
    border-radius: 0 0 4vmin 0;
    position: absolute;
    left: 25%;
    top: 70%;
    transform-origin: 100% 100%;
	overflow:hidden;
}
.blue-whale-gill {
    background-color: #dddddd;
    height: 3vmin;
    width: 5vmin;
    -moz-border-radius: 150px 0 0 0;
    border-radius: 0 0 4vmin 0;
    position: absolute;
    animation: whale-gill 3s ease-in-out infinite;
    transform-origin: 100% 100%;
    transform: rotate(15deg);
}	
.blue-whale-flipper {
    left: -19%;
    top: 0%;
    position: absolute;
    width: 6vmin;
    height: 2.5vmin;
    background-color: #949494;
    -moz-border-radius: 0px 20vmin 0px 20vmin;
    -webkit-border-radius: 0px 20vmin 0px 20vmin;
    border-radius: 0px 20vmin 0px 20vmin;
    transform-origin: 100% 100%;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-73deg);
    animation: flipper-simple 3s ease-in-out infinite;
    animation: flipper-move 2s linear infinite;
}
.blue-whale-flipper:after {
    content: "";
    left: 0%;
    top: 0%;
    position: absolute;
    width: 6vmin;
    height: 2.5vmin;
    background-color: #a8a8a8;
    -moz-border-radius: 0px 20vmin 0px 20vmin;
    -webkit-border-radius: 0px 20vmin 0px 20vmin;
    border-radius: 0px 20vmin 0px 20vmin;
    transform-origin: 100% 100%;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    transform: rotate(-20deg);
}
@media only screen and (max-width:600px ){
    

}
/* .blue-ocean:hover .blue-whale-gill{
    animation: whale-gill1 3s ease-in-out infinite;
}	
.blue-ocean:hover .blue-whale{
	animation:whale-move 15s linear infinite;
}
.blue-ocean:hover .blue-whale-main{
	animation:whale-swim 2s linear infinite;
}
.blue-ocean:hover .blue-whale-tusk{
	animation:tusk-swim 2s linear infinite;
}
.blue-ocean:hover .blue-whale-backside{
	animation:whale-swim-back 2s linear infinite;
}
.blue-ocean:hover .blue-whale-flipper{
	animation:flipper-move 2s linear infinite;
} */
