.App--main{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
.App--header{
  font-size: 3vw;
  color: rgb(255, 140, 94);;
}
.App--footer{
  font-size: 1.3vw;
}
.App--link1, .App--link2, .App--link3, .App--link4 {
  padding: 0em 1em 0em 1em;
  text-decoration: none;
  font-size: 1.5vw;
  color:#d14724;
}
a:hover{
  color:white
}