body {
  margin: 0;
  font-family: 'Karma', serif;
  color: #ffffff;
  background-image:url("https://wallpaperaccess.com/full/759757.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
